body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.imgWrap {
    position: relative;
    height: 200px;
    width: 257px;
}

.imgDescription {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(29, 106, 154, 0.72);
    color: #fff;


    visibility: hidden;
    opacity: 0;

    /*remove comment if you want a gradual transition between states
    -webkit-transition: visibility opacity 0.2s;
    */
}


.imgWrap:hover .imgDescription {
    visibility: visible;
    opacity: 1;
}